@model MVCManukauTech.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Check Out";
}

<script type="text/javascript">
    function XTest() {
        document.getElementById("CustomerName").value = "Mr Tester";
        document.getElementById("AddressStreet").value = "555 Imaginary Rd";
        document.getElementById("Location").value = "Henderson";
        document.getElementById("Country").value = "New Zealand";
        document.getElementById("PostCode").value = "0612";
        document.getElementById("CardOwner").value = "Mr Tester";
        document.getElementById("CardType").value = "Visa";
        document.getElementById("CardNumber").value = "1111";
        document.getElementById("CSC").value = "111";
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Check Out</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label for="CustomerName" class="control-label col-md-2" style="display:inline">Customer Name:</label>
            <div class="col-md-10">
                <input type="text" id="CustomerName" name="CustomerName" value="@Model.CustomerName" style="display:inline"/>
                <input type="button" value="Test Data" onclick="XTest();" class="btn" style="display:inline" />
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>
        </div>

        <div class="form-group">
            <label for="AddressStreet" class="control-label col-md-2">Street Address:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressStreet)
                @Html.ValidationMessageFor(model => model.AddressStreet)
            </div>
        </div>

        <div class="form-group">
            <label for="Location" class="control-label col-md-2">City or Location:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            <label for="Country" class="control-label col-md-2">Country:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            <label for="PostCode" class="control-label col-md-2">Post Code:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostCode)
                @Html.ValidationMessageFor(model => model.PostCode)
            </div>
        </div>
                        

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />               
                <a href="~/Views/OrderDetails/ConfirmPage.cshtml"></a>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
