@model IEnumerable<MVCManukauTech.ViewModels.ActorsByCityViewModel>

@{
    ViewData["Title"] = "Customers And Suppliers By City";
}

<h1>Customers And Suppliers By City</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Key
            </th>
            <th>
                City
            </th>
            <th>
                Company Name
            </th>
            <th>
                Contact Name
            </th>
            <th>
                Relationship
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.QueryKey
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.CompanyName
            </td>
            <td>
                @item.ContactName
            </td>
            <td>
                @item.Relationship
            </td>

        </tr>
}
    </tbody>
</table>
